* {
    margin: 0;
    /* padding: 0; */
}

body {
    height: 1000px;
}

header { /* The Cat shop menu. */
    /* grid-row: 1 / 1; */
    background-color: #06D6A0;
}

header nav ul li {
    display: inline;
}

.container { /* Contains everything. */
    margin: 0 auto;
    /* height: auto; */
    max-width: 900px;
    width: 90%;
    /* max-height: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto auto auto; */
    background-color: lightblue;
}

aside { /* The banner image and h1. */
    grid-column: 1 / 4;
    /* grid-row: 2 / 2; */
    color: #FFF;
    background-color: #26547C;
    /* height: 250px; */
    max-height: 100%;

    display: flex;
    flex-wrap: wrap;
    /* max-height: auto; */
}

.aside-column1 {
    flex: 25%;
    max-width: 50%;
}

.aside-column1 img {
    width: 100%;
}

.aside-column2 {
    flex: 25%;
    max-width: 25%;
}





h1 {
    width: auto;
    /* text-decoration: underline; */
    /* text-decoration-color: #EF476F; */
    display: inline-block;
}

img {
    /* max-height: 100%; */
    /* height: 100%; */
    /* max-width: 100%; */
    /* height: auto; */
    /* max-height: 200px; */
}

main {
    grid-column: 1 / 4;
}

.cats-section { /* The section about cats. */
    background-color: #FFD166;
}

.products-section { /* The section about products. */
    grid-column: 1 / 4;
    background-color: #F2F2F2;
}

.products-section img {
    max-width: 100%;
    height: auto;
    /* display: inline; */
    border: 1px black solid;
    float: right;
}

.principles-section { /* The section about principles. */
    grid-column: 1 / 4;
    background-color: #26547C;
}