* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 1000px;
    font-size: 26px;
    font-family: Sans-Serif;
}

/* The Cat shop menu. */
header {
    height: 60px;
    background-color: #06D6A0;
    /* padding: 15px; */
}

header h3 {
    padding: 20px 20px;
    color: #FFF;
    font-size: .7em;
}

header nav {
    padding: 12px 25px;
    top: 0;
    right: 0;
    position: absolute;
}

li {
    list-style: none;
}

header nav ul li {
    padding: 0 5.5px;
    display: inline-block;
    font-size: .7em;
}

/* Contains everything. */
.container { 
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    background-color: lightblue;
}

/* The banner image and h1. */
aside { 
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #26547C;
}

.many-cats-banner {
    width: 100%;
    min-width: 330px;
}

h1 {
    padding: 30px 10px;
    font-size: 1.45em;
    text-align: center;
    color: #FFF;
        /* text-decoration: underline; */
        /* text-decoration-color: #EF476F; */
}

h2 {
    font-size: .85em;
    padding-bottom: 10px;
}

/* The section about cats. */
.cats-section { 
    margin-top: -2px;
    padding: 53px 20px 40px;
    background-color: #FFD166;
}

p {
    padding: 10px 0 10px;
    font-size: .72em;
}

/* The section about products. */
.products-section { 
    padding: 53px 20px 40px;
    background-color: #F2F2F2;
}

.products-section img {
    /* margin-top: 10px; */
    margin-top: 0;
    width: 100%;
    border: 3px black solid;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    padding: 10px;
}

.principles-section { /* The section about principles. */
    background-color: #26547C;
    padding: 50px 20px;
    color: #FFF;
}

.principles-grid {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.principles-section p {
    padding: 10px 0 10px;
}

.principles-grid li {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: .85em;
    color: #EF476F;
}

footer {
    height: 50px;
    background-color: #06D6A0;
    text-align: right;
}

footer p {
    padding: 14px 20px;
    font-size: .75em;
}